<h1 class="text-center">Search For Gems <span class="logo"><img src="https://rubygems.org/favicon.ico"></span></h1>

<form action="submit">
	<div class="form-group">
		<input type="text" id="searchInput" placeholder="Search for a gem...">
	</div>
</form>

<div id="searchResults" class="col-xs-12"></div>